@font-face {
	font-family: "Catamaran-Light";
	src: local("Catamaran Light"),
		url("../public/fonts/catamaran/catamaran-v17-latin-100.ttf")
			format("truetype");
	font-weight: 200;
	font-style: light;
	font-display: swap;
}

@font-face {
	font-family: "Catamaran-Regular";
	src: local("Catamaran Regular"),
		url("../public/fonts/catamaran/catamaran-v17-latin-regular.ttf")
			format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Catamaran-Medium";
	src: local("Catamaran Medium"),
		url("../public/fonts/catamaran/catamaran-v17-latin-500.ttf")
			format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Catamaran-Bold";
	src: local("Catamaran Bold"),
		url("../public/fonts/catamaran/catamaran-v17-latin-800.ttf")
			format("truetype");
	font-weight: 800;
	font-style: bold;
	font-display: swap;
}
